.game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.gameField {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.field {
    position: relative;
    overflow: hidden;
}

.buttonBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.score {
    display: flex;
    justify-content: center;
    color: white
}

.cell {
    border-radius: 10%;
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .4s linear;
}

.pathSegment {
    position: absolute;
    z-index: 1;
    transform-origin: 0px 0px;
}

.pick {
    animation: pickCell 0.3s linear;
}

div {
    cursor: pointer
}

.modal {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.meassageBlock {
    width: 10rem;
    height: 15rem;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swapingCell {
    border: dashed 0.2rem orange;
    transition: all 0.1s;
}

.unite {
    animation: uniteCell 0.3s ease-in-out;
    z-index: 4
}

.deletedCell {
    transition: all .3s linear;
    animation: deletingCell 0.3s linear;
}

@keyframes pickCell {
    0% {transform: scale(1);}
    50% { transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes uniteCell {
    0% {transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@keyframes deletingCell {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}