.bonusPrice {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bonusPrice::before {
    content: '';
    width: 1.25rem;
    height: 1rem;
    background-image: url(/public/img/diamond.svg);
    background-repeat: no-repeat;
  }